
@layer view {
	:root {
		height: 100%;
		font-size: 16px;
		font-family: sans-serif;

		color-scheme: dark;
		scrollbar-gutter: stable;

		color: var(--alpha);
		background: var(--bg);

		--tint: #070429aa;
		background:
			linear-gradient(0deg, var(--tint), var(--tint)),
			#141519 url("/assets/bg.webp") center 80% / cover no-repeat;

		background-attachment: fixed, fixed;

		text-shadow: 0.1em 0.1em 0.2em #0008;
	}

	body {
		width: 100%;
		min-height: 100%;
		max-width: 60em;
		margin: auto;
		padding: 1em;
		padding-bottom: 6em;

		display: flex;
		flex-direction: column;
		gap: 1em;
	}

	h1 {
		font-size: 1.5em;
		display: flex;
		flex-direction: column;
		text-align: center;

		strong {
			font-size: 1.5em;
			color: var(--prime);
			color: color-mix(in oklab, white, var(--prime) 20%);
			text-shadow: 0 0 0.8em color-mix(in oklab, white, var(--prime) 50%);
		}

		small {
			opacity: 0.6;
			font-size: 0.7em;
			font-weight: normal;
		}
	}

	body > section {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-bottom: 1em;
	}
}

